<!-- <lib-list-view [config]="ListViewConfig"></lib-list-view> -->

@if (dbFields.length > 0) {
<lib-form-wizard
  [fields]="dbFields"
  [module]="module"
  [stepperConfig]="stepConfig"
  (submit)="onFormSubmit($event)"
>
</lib-form-wizard>
}

<!-- <p-dialog
  [(visible)]="displayDialog"
  [header]="isEditMode ? 'Edit Project' : 'Add Project'"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-fluid">
    <div class="field mb-3">
      <label for="projectName">Project Name <span class="text-danger">*</span></label>
      <input
        id="projectName"
        type="text"
        pInputText
        [(ngModel)]="row.project_name"
        placeholder="Enter project name"
        class="w-100"
      />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      type="button"
      label="Save"
      icon="pi pi-check"
      (click)="saveProject()"
      [disabled]="!project.name.trim()"
    ></button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog> -->
